* {
  font-family: monospace;
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-size: 1.4rem;
}

HTML {
  /*border: 1px dotted #aaf;*/
}

BODY {
  /*border: 1px dotted #faa;*/
  overflow: hidden;
}

DIV {
  /*border: 1px solid red;*/
  position: absolute;
  white-space: nowrap;
}

#gameover {
  top: 50%;
  left: 50%;
  visibility: hidden;
}
